{% extends 'base.html' %}
{% load static %}
{% block title %}
<title></title>
{% endblock %}
{% block content %}
{% include 'navbar.html' %}
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6 mt-3">
            <center>
                <img src="{{ data2.profile.img.url }}" class="img-thumbnail"style='width:150px;height:150px;'>
            </center>  
        </div>
    </div>
        <div class="row mt-2">
            <div class="offset-md-3 col-md-6">
                <div class="card mb-2 "style='height:500;overflow-y: auto;'>
                   <div class="card-body">
                    <center>

                    <strong>Following:{{data1}}</strong>
                </center>
                    <div class="row">

                        {% if data %}
                        {% for i in data %}
                        <div class="col-md-5">
                         <img src="{{i.profile_follow.img.url}}" class="img-thumbnail"style='width:100px;height:100px;'>
                        </div>
                        {% if i.user == request.user %}
                        <div class="offset-md-3 col-md-4 mt-4">
                            <a href="{% url 'following1' i.profile_follow.id %}" class="btn btn-danger">UnFollow</a>
                           </div>
                        {% else %}
                        <div class="offset-md-3 col-md-4 mt-4">
                            <a href="" class="btn btn-danger">UnFollow</a>
                           </div>
                        {% endif %}
                           {% endfor %}
                        {% else %}
                        
                        <h4>No Following</h4>
                        
                        {% endif %}



                           




                    </div>
                
                   


                   </div>
             </div>
        </div>
    </div>
</div>

{% endblock %}