{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
<title>password_reset</title>
{% endblock %}
{% block content %}
{% include 'navbar.html' %}
<div class="container">
    <div class="row">
  
      <div class="offset-md-3 col-md-6">
        <div class="card mt-5">
  
          <div class="card-body">
            <form class="" method="POST">
      {% csrf_token %}
      <center>
      <p class="alert alert-success">Give Email Here What You Gave While Signup</p>
    </center>
      {{form|crispy}}
      <center>
      <input type="submit" name="" value="Send"class="btn btn-primary">
      </center>
            </form>
  
          </div>
        </div>
  
      </div>
  
    </div>
  </div>

{% endblock %}