{% extends 'base.html' %}
{% block title %}<title>password_reset_complete</title>{% endblock %}
{% block content %}
{% include 'navbar.html' %}
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">

            <div class="card mt-5">
                <div class="card-body">
                      
                    <p>Successfully You Have Been Reset Your Password ! From Now You Have To Use That Password For This User Name</p>
                    <center>
                    <a href="{% url 'login' %}"class="btn btn-success">login</a>
                </center>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}